* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.swiper-button-disabled::after {
  display: none;
}
span::after {
  display: none;
}
.swiper-pagination-bullet {
  opacity: 0.5;
  background-color: rgb(198, 198, 198) !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: rgb(223, 222, 222) !important;
}