.maindiv {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.divwrap {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.imgdiv {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B1B1B1;
    margin: 1rem;
    
}

@media screen and (max-width: 768px) {
    .divwrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
  }